.listContainer {
  margin: 40px 60px;
  .topHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #363333;
    width: 100%;
    height: 40px;
  }
  .contractItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #363333;
    border-right: 1px solid #363333;
    .verticalHeader {
      height: auto;
      max-height: 400px;
      width: 30px;
      border: 1px solid #363333;
      display: flex;
      align-items: center;
      justify-content: center;
      .verticalHeaderText {
        transform: rotate(-90deg);
      }
      border-bottom: none;
      border-top: none;
    }
    .contractDetialsContainer {
      display: flex;
      justify-content: space-around;
      flex-direction: column;
      margin: 40px 0;
      .functionContainer {
        margin: 8px 12px;
        display: flex;
        justify-content: space-between;
        .functionNameContainer {
        }
        .inputAmountContainer {
        }
      }
      .finalSum {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    .textArea {
      margin: 40px 0;
      height: 100px;
    }
  }
  .finalSumContainer {
    margin: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    .finalSumItem {
      padding: 16px 32px;
      border-radius: 4px;
      border: 1px solid #363333;
    }
  }
}

.bountyAmount {
  margin-left: 60px;
  padding: 6px;
}
.bountyAmountLabel {
  padding: 6px;
  border: 1px solid #363333;
  border-radius: 4px;
  background-color: #247aff;
  color: #ffff;
  border-color: #247aff;
}
