.uploadContainer {
  margin: 40px 60px;
  .file_upload_container {
    padding-left: 32px;
    .uploadHeading {
      font-size: 34px;
      margin-bottom: 16px;
    }
  }
  .functionDisplayContainer {
    margin: 40px;
    border: 1px solid #363333;
    .functionDisplayContainerItem {
      display: flex;
      flex-direction: column;
      .function {
        font-weight: 700;
        padding: 16px;
      }
    }
  }
}
